/*MOBILE*/
/*TABLET&DESKTOP*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200&family=Roboto:wght@100;400;700&display=swap");
header {
  background-color: #FFFD85;
  width: 100%;
  position: fixed;
  z-index: 6666;
}

.logo {
  width: 75%;
  padding-left: 10%;
}

.navbar-nav .nav-item .nav-link {
  color: black;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: end;
  padding-right: 5%;
}
@media (min-width: 700px) {
  .navbar-nav .nav-item .nav-link {
    justify-content: flex-end;
  }
}
@media (min-width: 1024px) {
  .navbar-nav .nav-item .nav-link ul:hover {
    font-weight: bolder;
  }
}

.navbar-collapse {
  flex-grow: none;
}

.navmenu {
  display: flex;
  justify-content: end;
}

.titular {
  background-image: url("../imagenes/topYellow.png");
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 15%;
}
.titular h1 {
  font-family: "Roboto" sans-serif;
  font-size: 30px;
  margin-bottom: 5%;
  text-align: center;
  justify-content: center;
}
.titular img {
  width: 50%;
  height: 50%;
}
@media (min-width: 768px) {
  .titular {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
  }
  .titular h1 {
    grid-column: 2;
    font-size: 50px;
    padding: 10%;
  }
  .titular img {
    grid-column: 3;
    width: 100%;
    height: 100%;
    padding: 5%;
  }
}
@media (min-width: 1024px) {
  .titular {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    padding-top: 5%;
  }
  .titular h1 {
    grid-column: 2;
    padding: 10%;
  }
  .titular img {
    grid-column: 3;
    width: 100%;
    height: 100%;
    padding: 5%;
  }
}

.who {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0% 10%;
  padding: 5% 0%;
}
.who h2 {
  font-family: "Roboto" sans-serif uppercase;
  margin-bottom: 5%;
}
.who img {
  width: 50%;
  height: 50%;
  flex-direction: row;
  border-radius: 2%;
}
.who p {
  font-family: "Popins", sans-serif;
  text-align: justify;
  flex-direction: row;
}
.who button {
  grid-column: 2;
  grid-row: 3;
  background-color: #3CC3C0;
  width: 200px;
  border-radius: 12px;
  border: none;
  margin-bottom: 5%;
}
@media (min-width: 1024px) {
  .who {
    display: grid;
    margin: 0% 10%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3;
    grid-gap: 5%;
  }
  .who h2 {
    grid-column: 2;
    grid-row: 1;
    text-align: center;
  }
  .who img {
    grid-column: 1;
    grid-row: 1/4;
    width: 100%;
    height: 100%;
  }
  .who p {
    grid-column: 2;
    grid-row: 2;
  }
  .who button {
    grid-column: 2;
    grid-row: 3;
    align-self: center;
    justify-self: center;
  }
}

.btn-primary:hover {
  color: #fff;
  background-color: #70D3D1;
  border-color: #70D3D1;
}

.options {
  display: flex;
  flex-direction: column;
  margin: 0% 10%;
  padding: 5% 0%;
}
.options h2 {
  font-family: "Roboto" sans-serif uppercase;
  text-align: center;
  padding: 2%;
}
.options .optionSocio, .options .optionDonate, .options .optionTeamer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.options .optionSocio h3, .options .optionDonate h3, .options .optionTeamer h3 {
  text-align: center;
  padding: 10% 5% 10% 5%;
}
.options .optionSocio img, .options .optionDonate img, .options .optionTeamer img {
  width: 30%;
  height: 30%;
  padding: 5%;
  background-color: #70D3D1;
  border-radius: 100%;
}
.options .optionSocio p, .options .optionDonate p, .options .optionTeamer p {
  padding: 10%;
  text-align: center;
  min-height: 150px;
}
@media (min-width: 768px) {
  .options {
    margin: 0% 10%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2%;
    justify-content: center;
  }
  .options h2 {
    grid-column: 1/4;
  }
  .options p {
    min-height: 250px;
  }
  .options .optionSocio, .options .optionTeamer, .options .optionDonate {
    grid-column: 1;
  }
  .options .optionTeamer {
    grid-column: 2;
  }
  .options .optionDonate {
    grid-column: 3;
  }
}

.adopta {
  display: flex;
  flex-direction: column;
  margin: 0% 10%;
}
.adopta h2 {
  font-family: "Roboto" sans-serif uppercase;
  text-align: center;
  padding: 2%;
  margin: 2% 0%;
}
.adopta p {
  font-family: "Popins", sans-serif;
  padding: 0% 10%;
  text-align: justify;
  margin: 2% 0%;
}
.adopta button {
  background-color: #3CC3C0;
  width: 200px;
  border-radius: 12px;
  border: none;
  align-self: center;
  justify-self: center;
  margin: 0% 0% 15% 0%;
}

.galeria {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10%;
}
.galeria img {
  width: 100%;
  height: 100%;
  border-radius: 5%;
  padding: 2%;
}
@media (min-width: 749px) {
  .galeria {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1024px) {
  .galeria {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
  }
}

.adoptaflex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0% 10%;
  padding-bottom: 5% 0%;
}
.adoptaflex h1 {
  font-family: "Roboto" sans-serif;
  font-size: 30px;
  padding-top: 30%;
  padding-bottom: 5%;
}
.adoptaflex p {
  font-family: "Popins", sans-serif;
  margin-bottom: 10px;
  padding-bottom: 5%;
  text-align: justify;
}
@media (min-width: 768px) {
  .adoptaflex {
    margin: 0% 10%;
  }
  .adoptaflex h1 {
    font-size: 50px;
    padding-top: 15%;
  }
  .adoptaflex p {
    margin: 0% 10%;
  }
}
@media (min-width: 1024px) {
  .adoptaflex h2 {
    font-size: 50px;
    margin-bottom: 10px;
    padding-top: 5%;
  }
}

.accordion {
  margin: 0% 10%;
  padding: 2% 0%;
}
@media (min-width: 1024px) {
  .accordion {
    margin: 0% 10%;
  }
}

.accordion-button:not(.collapsed) {
  color: black;
  background-color: #FFFEA8;
}

.accordion-button:not(.collapsed)::after {
  background-image: url(../imagenes/up.png);
}

.formularioAdopta {
  display: flex;
  justify-content: center;
  align-items: center;
}
.formularioAdopta button {
  background-color: #3CC3C0;
  width: 200px;
  border-radius: 12px;
  border: none;
  align-self: center;
  justify-self: center;
  margin-top: 5%;
  margin-bottom: 7%;
}

.btn-primary:hover {
  color: #fff;
  background-color: #70D3D1;
  border-color: #70D3D1;
}

.gatosgrid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  padding-bottom: 10%;
  justify-content: center;
  align-items: center;
  margin: 0% 10%;
}
.gatosgrid h2 {
  display: flex;
  justify-content: center;
  font-family: "Roboto" sans-serif uppercase;
}
@media (min-width: 1024px) {
  .gatosgrid {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
  }
  .gatosgrid h2 {
    grid-column: 1/4;
  }
}

.gato1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: inset;
  align-items: center;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 2%;
  margin: 5% 0%;
}
.gato1 p {
  min-height: 220px;
}
@media (min-width: 1024px) {
  .gato1 {
    grid-column: 1;
  }
}

.gato2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: inset;
  align-items: center;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 2%;
  margin: 5% 0%;
}
.gato2 p {
  min-height: 220px;
}
@media (min-width: 1024px) {
  .gato2 {
    grid-column: 2;
  }
}

.gato3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: inset;
  align-items: center;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 2%;
  margin: 5% 0%;
}
.gato3 p {
  min-height: 220px;
}
@media (min-width: 1024px) {
  .gato3 {
    grid-column: 3;
  }
}

.contactogrid {
  margin: 0% 10%;
}
@media (min-width: 1024px) {
  .contactogrid {
    margin: 0% 10%;
  }
}

.colaboraflex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-column: 1;
}
.colaboraflex h1 {
  font-family: "Roboto" sans-serif;
  font-size: 30px;
  margin-bottom: 5%;
  padding-top: 25%;
}
.colaboraflex h2 {
  font-family: "Roboto" sans-serif uppercase;
  font-size: 25px;
  margin-bottom: 5%;
}
.colaboraflex img {
  width: 100%;
  margin-bottom: 5%;
}
.colaboraflex p {
  font-family: "Popins", sans-serif;
  margin: 0% 10%;
}
.colaboraflex button {
  background-color: #3CC3C0;
  width: 100px;
  border-radius: 12px;
  border: none;
  align-self: center;
  justify-self: center;
  margin-bottom: 10%;
}
@media (min-width: 768px) {
  .colaboraflex h1 {
    font-size: 50px;
    padding-top: 15%;
  }
  .colaboraflex h2 {
    font-size: 30px;
  }
  .colaboraflex button {
    width: 200px;
  }
}
@media (min-width: 1024px) {
  .colaboraflex h1 {
    font-size: 50px;
  }
  .colaboraflex h2 {
    margin-bottom: 5%;
  }
}

.categorias {
  display: flex;
  flex-direction: column;
  padding: 5% 0%;
}
.categorias h2 {
  font-family: "Roboto" sans-serif uppercase;
  text-align: center;
  padding: 2%;
}
.categorias .categoriaSocio, .categorias .categoriaSimpatizanteDos, .categorias .categoriaSimpatizanteUno {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2%;
}
.categorias .categoriaSocio h3, .categorias .categoriaSimpatizanteDos h3, .categorias .categoriaSimpatizanteUno h3 {
  text-align: center;
  padding: 10% 5% 10% 5%;
  min-height: 75px;
}
.categorias .categoriaSocio img, .categorias .categoriaSimpatizanteDos img, .categorias .categoriaSimpatizanteUno img {
  width: 50%;
  height: 50%;
  padding: 5%;
  background-color: #70D3D1;
  border-radius: 100%;
}
.categorias .categoriaSocio p, .categorias .categoriaSimpatizanteDos p, .categorias .categoriaSimpatizanteUno p {
  padding: 10%;
  text-align: center;
  min-height: 75px;
}
@media (min-width: 768px) {
  .categorias {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2%;
    justify-content: center;
  }
  .categorias h2 {
    grid-column: 1/4;
  }
  .categorias .categoriaSocio, .categorias .categoriaSimpatizanteUno, .categorias .categoriaSimpatizanteDos {
    grid-column: 1;
  }
  .categorias .categoriaSimpatizanteUno {
    grid-column: 2;
  }
  .categorias .categoriaSimpatizanteDos {
    grid-column: 3;
  }
}

.btn-primary:hover {
  color: #fff;
  background-color: #70D3D1;
  border-color: #70D3D1;
}

.contactgrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  padding: 20% 15%;
  min-height: calc(100vh - 60px);
}
.contactgrid h1 {
  grid-column: 1/3;
  font-family: "Roboto" sans-serif;
  font-size: 30px;
  margin-bottom: 10%;
  text-align: center;
}
.contactgrid button {
  background-color: #3CC3C0;
  width: 100px;
  border-radius: 12px;
  border: none;
  align-self: center;
  justify-self: center;
}
@media (min-width: 768px) {
  .contactgrid {
    padding: 10% 15%;
    grid-template-columns: 1fr 2fr;
  }
  .contactgrid h1 {
    font-size: 50px;
  }
  .contactgrid button {
    width: 200px;
  }
}
@media (min-width: 1024px) {
  .contactgrid {
    grid-template-columns: 1fr 3fr;
  }
  .contactgrid h1 {
    grid-column: 1/3;
  }
}

.cuesmotivo {
  grid-column: 1/3;
}

.marcar {
  grid-column: 2;
}

.btn-primary:hover {
  color: #fff;
  background-color: #70D3D1;
  border-color: #70D3D1;
}

.noticia {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15%;
  margin-bottom: 10%;
}
.noticia h1 {
  font-family: "Roboto" sans-serif;
  font-size: 30px;
  text-align: center;
  margin-top: 10%;
}
@media (min-width: 768px) {
  .noticia h1 {
    font-size: 50px;
  }
}
@media (min-width: 1024px) {
  .noticia {
    display: grid;
    justify-content: center;
    grid-template-columns: 2fr 2fr;
    grid-column: 1fr 1fr;
    grid-gap: 5%;
    padding: 10% 15%;
    margin-bottom: 10%;
  }
  .noticia h1 {
    grid-column: 1/3;
    margin-top: 5%;
  }
}

.noticiaCard {
  box-shadow: inset;
  align-items: center;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 2%;
  margin: 5% 0%;
}

.noticiaImg {
  width: 100%;
  border-top-left-radius: 2%;
  border-top-right-radius: 2%;
  max-height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

.noticiasCon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5%;
}
.noticiasCon h4 {
  font-family: "Roboto" sans-serif uppercase;
  text-align: center;
}
.noticiasCon p {
  font-family: "Popins", sans-serif;
}

.redesSociales {
  width: 30px;
  height: 30px;
  padding: 1%;
}

.noticiaText {
  min-height: 200px;
  text-align: justify;
  font-family: "Popins", sans-serif;
}

footer {
  background-color: #FFFD85;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.localizacion {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 5%;
}
.localizacion img {
  width: 30px;
  height: 30px;
}
.localizacion p {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  color: black;
  padding-top: 1rem;
}
@media (min-width: 768px) {
  .localizacion {
    justify-content: flex-start;
  }
}

.redes {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.redes a {
  margin: 20px;
}
.redes img {
  width: 30px;
  height: 30px;
}

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #FDFDFB;
}/*# sourceMappingURL=estilos.css.map */