.adoptaflex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: $lateralSmall;
    padding-bottom: 10%;

    h1{
        font-family: $title;
        font-size: $titleSizeMobile;
        padding-top: 30%;
        padding-bottom: 5%;
    }

    p{
        font-family: $text;
        margin-bottom: 10px;
        padding-bottom: 5%;
    }

    button{
        background-color: $blue2;
        width: $smallButton;
        border-radius: 12px;
        border: none;
        align-self: center;
        justify-self: center;
    }

    @media (min-width:768px){
        margin: $lateralMargin;

        h1{
            font-size: $titleSize;
            padding-top: 15%;
        }
    }

    @media (min-width:1024px){

        h2{
            font-size: $titleSize;
            margin-bottom: 10px;
            padding-top: 5%;
        }
    }
}

.gatosgrid{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    padding-bottom: 10%;
    justify-content: center;
    align-items: center;
    margin: $lateralMargin;

    h2{
        display: flex;
        justify-content: center;
        font-family: $subtitle;
    }

    @media (min-width:1024px){
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 10px;

        h2{
            grid-column: 1 / 4;
        }
    }
}

.gato1{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: inset;
    align-items: center;
    background-color: white;
    box-shadow: $boxShadow;
    border-radius: 2%;
    margin: 5% 0%; 

    @media (min-width:1024px){
        grid-column: 1;
    }
}

.gato2{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: inset;
    align-items: center;
    background-color: white;
    box-shadow: $boxShadow;
    border-radius: 2%;
    margin: 5% 0%; 

    @media (min-width:1024px){
        grid-column: 2;
    }
}

.gato3{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: inset;
    align-items: center;
    background-color: white;
    box-shadow: $boxShadow;
    border-radius: 2%;
    margin: 5% 0%; 

    @media (min-width:1024px){
        grid-column: 3;
    }
}
