/* MOBILE */

.contactogrid{
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 25%;
}

.colaboraflex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10%;
    grid-column: 1;

    h1{
        font-family: $title;
        font-size: $titleSizeMobile;
        margin-bottom: 5%;
    }

    h2{
        font-family: $subtitle;
        font-size: $subtitleSizeMobile;
        margin-bottom: 5%;
    }

    p{
        font-family: $text;
        margin-bottom: 10px;
}
}

/* TABLET */

@media (min-width:768px){
    
    .contactogrid{
        display: grid;
        grid-template-columns: 1fr;
    }
    
    .colaboraflex{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 5%;
        grid-column: 1;

        h1{
            font-family: $title;
            font-size: $titleSize;
        }

        h2{
            font-family: $subtitle;
            font-size: $subtitleSize;
            margin-bottom: 5%;
        }
    
        p{
            font-family: $text;
    }
    }
}
    
/* DESKTOP */
    
@media (min-width:1024px){
    
    .contactogrid{
        display: grid;
        grid-template-columns: 1fr 4fr 1fr;
    }
    
    .colaboraflex{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 10%;
        grid-column: 2;

        h1{
            font-family: $title;
            font-size: $titleSize;
        }

        h2{
            font-family: $subtitle;
            font-size: $subtitleSize;
            margin-bottom: 5%;
        }
    
        p{
            font-family: $text;
    }
    }
}