.contactogrid{
    margin: $lateralSmall;

    @media (min-width:1024px){
        margin: $lateralMargin;
    }
}

.colaboraflex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-column: 1;

    h1{
        font-family: $title;
        font-size: $titleSizeMobile;
        margin-bottom: 5%;
        padding-top: 25%;
    }

    h2{
        font-family: $subtitle;
        font-size: $subtitleSizeMobile;
        margin-bottom: 5%;
    }

    img{
        width: 100%;
        margin-bottom: 5%;
    }

    p{
        font-family: $text;
        margin: $marginText;
    }

    button{
        background-color: $blue2;
        width: $mobileButton;
        border-radius: 12px;
        border: none;
        align-self: center;
        justify-self: center;
        margin-bottom: 10%;
    }

    @media (min-width:768px){

        h1{
            font-size: $titleSize;
            padding-top: 15%;
        }

        h2{
            font-size: $subtitleSize;
        }

        button{
            width: $smallButton;
        }
    }

    @media (min-width:1024px){

        h1{
            font-size: $titleSize;
        }
        h2{
            margin-bottom: 5%;
        }
    }
}

.categorias{
    display: flex;
    flex-direction: column;
    padding: $spaceSections;

    h2{
        font-family: $subtitle;
        text-align: center;
        padding: 2%;
    }

    .categoriaSocio{
        display:flex;
        flex-direction: column;
        align-items: center;
        padding: 2%;

        h3{
            text-align: center;
            padding: 10% 5% 10% 5%;
            min-height: 75px;
        }
    
        img{
            @include sizes (50%, 50%);
            padding: 5%;
            background-color: $blue1;
            border-radius: 100%;
        }
    
        p{
            padding: 10%;
            text-align: center;
            min-height: 75px;
        }
    }

    .categoriaSimpatizanteUno{
        @extend .categoriaSocio;
    }

    .categoriaSimpatizanteDos{
        @extend .categoriaSocio;
    }
    
    @media (min-width:768px){
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2%;
    justify-content: center;

    h2{
        grid-column: 1 / 4;
    }

    .categoriaSocio{
        grid-column: 1;
    }

    .categoriaSimpatizanteUno{
            grid-column: 2;
    }

    .categoriaSimpatizanteDos{
            grid-column: 3;
    }
    }
}


.btn-primary:hover {
    color: #fff;
    background-color:$blue1;
    border-color: $blue1;
}
