.contactgrid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 5% 15%;
    grid-gap: 10px;
    margin: 10%;

    h1{
        grid-column: 1/ 3;
        font-family: $title;
        font-size: $titleSizeMobile;
        margin-bottom: 10%;
    }

    @media (min-width:768px){
        grid-template-columns: 1fr 2fr;
        margin: 5% 10%;

        h1{
            font-size: $titleSize;
        }
    }

    @media (min-width:1024px){
        grid-template-columns: 1fr 3fr;

        h1{
            grid-column: 2;
        }
    }
}

.cuesmotivo{
    grid-column: 1 / 3;
}

.marcar{
    grid-column: 2;
}
