footer{
    background-color: $blue1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.localizacion{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 5%;

    img{
        @include sizes (30px, 30px);
    }

    p{
        font-family: 'Roboto', sans-serif;
        text-transform: uppercase;
        color: black;
        padding-top: 1rem;
    }

    @media (min-width:768px) {
        justify-content: flex-start;
    }
}

.redes{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    a{
        margin: 20px;
    }

    img{
        @include sizes (30px, 30px);
    }
}