header{
    background-image: $gradientheader;
}

.logo{
    width: 50%;
}

.navbar .nav-item .nav-link{
    color: white;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    display: flex;
    justify-content: end;

    @media (min-width:700){
        justify-content: flex-end;
    }

    @media (min-width:1024px){
        ul:hover{
            color: white;
        }
}
}

.navbar-collapse{
        flex-grow: none;
}

.navmenu{
    display: flex;
    justify-content: end;
}
