header{
    background-color: $yellow1;
    width: 100%;
    position: fixed;
}

.logo{
    width: 75%;
    padding-left: 10%;
}

.navbar-nav .nav-item .nav-link{
    color: black;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: end;
    padding-right: 5%;

    @media (min-width:700px){
        justify-content: flex-end;
    }

    @media (min-width:1024px){
        ul:hover{
            font-weight: bolder;
        }
}
}

.navbar-collapse{
        flex-grow: none;
}

.navmenu{
    display: flex;
    justify-content: end;
}
