.titular{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10%;

    h1{
        font-family: $title;
        font-size: $titleSizeMobile;
        margin-bottom: 5%;
    }

    img{
    @include sizes (250px, 250px);
        margin-bottom: 5%;
    }

    p{
        font-family: $text;
    }

    @media (min-width:768px){
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-gap: 10px;
        justify-content: center;
        align-items: center;

        h1{
            grid-column: 2;
            font-size: $titleSize;
        }

        img{
            grid-column: 1;
        @include sizes (400px, 400px);
        }

        p{
            grid-column: 2;
        }
    }

    @media (min-width:1024px){
        display: grid;
        grid-template-columns: 1fr 2fr 1fr 1fr ;
        margin-top: 50px;
        
        h1{
            grid-column: 3;
        }
    
        img{
            grid-column: 2;
        @include sizes (500px, 500px);
        }
    
        p{
            grid-column: 3;
        }
    }

}

.galeria{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
    justify-content: center;
    align-items: center;
    margin-bottom: 25%;

    img{
    @include sizes (100%, 100%);
    }

    @media (min-width:768px){
        margin: 10%;
    }

    @media (min-width:1024px){
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr ;
        grid-gap: 10px;
        justify-content: center;
        align-items: center;
        margin: 50px 20%;
    }
}