.noticia{
    justify-content: center;

    @media (min-width:768px){
        display: grid;
        justify-content: center;
        grid-column: 1fr 1fr;
    }

    @media (min-width:1024px){
        grid-template-columns: 2fr 2fr;
        grid-column: 1fr 1fr;
        grid-gap: 5%;
    }∫
        
.card-text{
        font-family: 'Popins', sans-serif;
}
}
