/* MOBILE */

.noticia{
    justify-content: center;
    margin: 5%;
    margin-bottom: 25%;
}

/* TABLET */

@media (min-width:768px){

    .noticia{
        display: grid;
        justify-content: center;
        grid-column: 1fr 1fr;
        margin: 5%;
        margin-bottom: 15%;
    }
}
    
/* DESKTOP */
    
@media (min-width:1024px){
    
    .noticia{
        display: grid;
        justify-content: center;
        grid-template-columns: 2fr 2fr;
        grid-column: 1fr 1fr;
        grid-gap: 5%;
        margin: 5% 15%;
        margin-bottom: 10%;
    }
    
    .card-text{
        font-family: 'Popins', sans-serif;
    }
}