$background: white;

$title: 'Roboto' sans-serif;
$subtitle: 'Roboto' sans-serif uppercase;
$text: 'Popins', sans-serif;

$gradientheader: linear-gradient(to bottom, #232526, #414345);
$gradientfooter: linear-gradient(to top, #232526, #414345);


/*MOBILE*/
$titleSizeMobile: 30px;
$subtitleSizeMobile: 25px;

/*TABLET&DESKTOP*/
$titleSize: 50px;
$subtitleSize: 30px;

@mixin sizes ($width, $height){
    width: $width;
    height: $height;
}