$background: #FDFDFB;
$background2: white; 
$blue1: #70D3D1;
$blue2: #3CC3C0;
$yellow1: #FFFD85;
$yellow2: #FFFEA8;
$shadow: #EBEBEB;
$boxShadow: 0 4px 8px 0 rgba(0,0,0,0.2);

$lateralMargin: 0% 10%;
$lateralSmall: 0% 10%;
$spaceElements: 2% 0%;
$spaceSections: 5% 0%;
$paddingBottom: 0% 0% 15% 0%;
$marginText: 0% 10%;

$smallButton: 200px;
$mobileButton: 100px;

$title: 'Roboto' sans-serif;
$subtitle: 'Roboto' sans-serif uppercase;
$text: 'Popins', sans-serif;

/*MOBILE*/
$titleSizeMobile: 30px;
$subtitleSizeMobile: 25px;

/*TABLET&DESKTOP*/
$titleSize: 50px;
$subtitleSize: 30px;

@mixin sizes ($width, $height){
    width: $width;
    height: $height;
}