$background: #FDFDFB;
$blue1: #70D3D1;
$blue2: #157977;
$yellow1: #FFFD85;
$yellow2: #FFFEA8;
$shadow: #EBEBEB;

$lateralMargin: 5% 10%;
$lateralSmall: 0% 10%;

$title: 'Roboto' sans-serif;
$subtitle: 'Roboto' sans-serif uppercase;
$text: 'Popins', sans-serif;

/*MOBILE*/
$titleSizeMobile: 30px;
$subtitleSizeMobile: 25px;

/*TABLET&DESKTOP*/
$titleSize: 50px;
$subtitleSize: 30px;

@mixin sizes ($width, $height){
    width: $width;
    height: $height;
}