@import "variables";
@import "fuentes";
@import "header";
@import "index";
@import "adopta";
@import "colabora";
@import "contacto";
@import "noticias";
@import "footer";

*{
    padding: 0;
    margin: 0;
}

body{
    background-color: $background;
}